.container {
  background-color: var(--tan);
}

.parentContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.heading {
  font-size: 6rem;
}

.copy {
  width: 80%;
}

.dataContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 2rem; */
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-bottom: 10rem;
}

.title,
.titleMobile {
  /* margin-bottom: 2rem; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 1rem 0rem;
}

.titleMobile {
  display: none;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.right {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;

  /* padding: 2rem; */
  border-radius: 10px;
}

.modalDescription {
  display: block;
}

.arrow {
  margin-left: 1rem;
}

.links,
.modalLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
  /* margin-top: 1rem; */
}

.link {
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tan2);
  cursor: pointer;
}

.modalLinks {
  margin-top: 2rem;
}

@media screen and (max-width: 1068px) {
  .parentContent {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .leftSide {
    align-items: center;
    position: static;
  }

  .heading {
    text-align: center;
  }

  .dataContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .parent {
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 5rem;
    border: 1px solid var(--gray);
  }

  .content {
    margin-bottom: 0rem;
  }
  .heading {
    font-size: 4rem;
  }

  .box,
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .links,
  .modalLinks {
    grid-template-columns: repeat(1, 1fr);
  }
}
