.container {
  background-color: var(--tan);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.lottieBox {
  width: 100%;
  height: 175px;
}

.lottie {
  height: 100%;
  width: 100%;
}

.heading {
  color: var(--black);
  border-bottom: 4px solid var(--red);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.copy {
  color: var(--black);
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 1rem;
}

.card {
  padding: 2rem;
  background-color: var(--tan2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.usp {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--black);
  font-size: 1.6rem;
}

.desc {
  opacity: 0.5;
}

.icon {
  color: var(--purple);
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  /* border: 1px solid var(--lightBlack); */
  border-radius: 50%;
  background-color: var(--tan);
}

@media screen and (max-width: 1100px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading,
  .copy {
    text-align: left;
    margin-right: auto;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .usp,
  .desc {
    text-align: center;
  }
}
