.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--suisse);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  /* letter-spacing: 0.5px; */
  white-space: nowrap;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  gap: 2rem;
  border-radius: 50px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.1s ease-in, color 0.1s ease-in;
}

.primary {
  color: var(--green);
  background-color: var(--green3);
  border: 1px solid var(--lightBlack);
}
.primaryii {
  color: var(--black);
  /* background-color: var(--green3); */
  border: 1px solid var(--black);
}

.primaryii:hover {
  background-color: var(--green3b);
  color: var(--white);
}

.primaryiii {
  color: var(--black);
  background-color: var(--tan2);
  /* border: 1px solid var(--lightBlack); */
}

.primaryNav {
  color: var(--tan);
  background-color: var(--purple);
  /* border: 1px solid var(--lightBlack); */
  padding: 7px 15px;
  font-size: 1.4rem;
}

.secondary {
  background-color: var(--purple);
  color: var(--tan);
  /* border: 1px solid var(--black); */
}

.secondary:hover,
.primaryNav:hover {
  background-color: var(--purple2);
  color: var(--tan);
}

.secondaryii {
  color: #729187;
  border: 1px solid #729187;
}

.secondaryNav {
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
  padding: 5px 30px;
}

.tertiary {
  color: var(--tan);
  background-color: var(--green);
  border: 1px solid var(--tan);
}
