.right {
  background-color: var(--tan2);
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box {
  margin-bottom: 2rem;
}

.title,
.detail {
  word-break: break-all;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.calBox {
  margin-top: 15rem;
}

.heading {
  font-size: 4rem;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  margin-top: 2rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading {
    width: 70%;
    margin-bottom: 2rem;
  }

  .miscContainer {
    justify-content: center;
  }

  .imgContainer {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .right {
    gap: 5rem;
  }

  .heading {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 100%;
  }
}
