@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid var(--purple);
  position: relative;
  display: block;
  user-select: none;
  padding: 1rem;
  animation: rotate 20s linear infinite;
}

.container:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: var(--tan);
  border: 2px solid var(--purple);
  z-index: 1;
}

.svg {
  font-family: var(--BebasNeue);
  user-select: none;
}

.svg textPath {
  fill: var(--tan2);
  stroke: var(--purple);
  stroke-width: 0.3px;
}

.olive {
  fill: var(--olive);
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green);
}

@media screen and (max-width: 568px) {
  .container {
    width: 300px;
    height: 300px;
  }

  .svg textPath {
    fill: var(--purple);
    stroke: var(--purple);
    stroke-width: 0.1px;
    opacity: 0.3;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 245px;
    height: 245px;
  }
}
