@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 1px solid var(--purple);
  position: relative;
  display: block;
  user-select: none;
  /* padding: 1rem; */
}

.container:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--purple);
  z-index: 1;
}

.lottieBox {
  width: 100%;
  height: 140px;
  margin-bottom: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  z-index: 99;
}

.lottie {
  width: 100%;
  height: 100%;
}

.tan::after {
  border: 2px solid var(--tan);
  background-color: var(--white);
}

.svg {
  font-family: var(--VisbyCF);
  text-transform: uppercase;
  user-select: none;
  animation: rotate 20s linear infinite;
}

.svg textPath {
  fill: var(--tan);
  stroke: var(--purple);
  stroke-width: 0.5px;
  opacity: 0.5;
}

.olive {
  fill: var(--olive);
}

.iconContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--green);
}

@media screen and (max-width: 568px) {
  .container {
    width: 230px;
    height: 230px;
  }

  .svg textPath {
    /* fill: var(--purple); */
    stroke: var(--purple);
    stroke-width: 0.1px;
    opacity: 0.3;
  }

  .lottieBox {
    height: 100px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 200px;
    height: 200px;
  }
}
