.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.heading {
  margin-top: -1rem;
}

.span {
  color: var(--purple);
  text-decoration: underline;
}

.copy {
  opacity: 0.7;
}

.iconContainerBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0rem;
  border-radius: 10px;
}

.icon,
.iconii,
.iconiii,
.iconPurple {
  width: 100px;
  height: 100px;
  color: var(--purple);
}

.iconPurple {
  color: var(--purple);
  width: 40px;
  height: 40px;
}

.column {
  display: grid;
}

.column:nth-child(1) .iconii {
  color: var(--gray3);
}

.iconii {
  width: 40px;
  height: 40px;
}

.iconiii {
  color: var(--gray3);
}

.title {
  text-align: center;
  font-family: var(--suisse);
  font-size: 2rem;
  text-transform: none;
  width: 80%;
  line-height: 120%;
}

.dataBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.box {
  padding: 3rem;
  background-color: var(--tan2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.box li {
  list-style: none;
  text-align: center;
  opacity: 0.7;
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    align-items: center;
    justify-content: center;
    align-items: center;
    position: static;
  }

  .heading,
  .copy {
    text-align: center;
  }

  .copy {
    width: 60%;
  }
}

@media screen and (max-width: 868px) {
  .copy {
    width: 100%;
  }

  .icon,
  .iconiii {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    line-height: 120%;
  }

  .iconii {
    width: 40px;
    height: 40px;
  }
}
