.logo {
  font-family: var(--suisse);
  font-size: 2rem;
  color: var(--black);
  user-select: none;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.green {
  color: var(--green3);
  font-size: 3rem;
}

.purple {
  color: var(--purple);
}
