.logo {
  font-family: var(--BebasNeue);
  font-size: 2.5rem;
  color: var(--black);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding: 1rem 2rem;
  padding-top: 1.4rem;
  border-radius: 50px;
  border: 1px solid var(--tan3);
  white-space: nowrap;
}

.span {
  font-family: var(--suisse);
  font-size: 1.8rem;
  background-color: var(--green3);
  border: 1px solid var(--lightBlack);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  top: -2px;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.green {
  color: var(--green3);
  font-size: 3rem;
}

.purple {
  color: var(--purple);
}

@media screen and (max-width: 568px) {
  .span {
    padding-top: 1px;
  }
}
