.container {
  background-color: transparent;
}

.borderTop {
}

.tan {
  background-color: var(--tan);
}

.gray {
  background-color: var(--gray);
}

.top {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.lottieBox {
  width: 100%;
  height: 350px;
}

.lottie {
  height: 100%;
  width: 100%;
}

.heading,
.headingh1 {
  color: var(--green);
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  text-align: center;
  margin: 1rem 0;
  width: 60%;
}

.optionsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.option {
  font-size: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 35px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s ease-in;
  border-radius: 34px;
  border: 1px solid var(--lightBlack);
}

.switch input {
  display: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 6px;
  background-color: white;
  border: 1px solid var(--lightBlack);
  transition: 0.2s ease-in;
  border-radius: 50px;
}

.checkBox:checked + .slider {
  background-color: var(--green3);
}

.checkBox:checked + .slider:before {
  transform: translateX(39px);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.priceContainer {
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentParent {
  padding: 1rem;
}

.pcTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--green3);
  border: 1px solid var(--lightBlack);
  border-radius: 10px;
  padding: 4rem;
}

.planName {
  color: var(--black);
  font-size: 2.5rem;
}

.for {
  color: var(--green);
  margin-top: 1rem;
}

.pcBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.kFTitile {
  margin-top: 2rem;
  color: var(--green);
  font-size: 2.3rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.feature {
  color: var(--green);
  border-bottom: 1px solid var(--lightBlack);
  width: 100%;
  padding-bottom: 1rem;
}

.feature:nth-child(6) {
  font-size: 1.7rem;
  font-family: var(--suisse);
}

.description {
  color: var(--green);
}

.price {
  font-size: 3.5rem;
  color: var(--green);
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
}

.custommize {
  margin-top: 2rem;
  background-color: var(--tan2);
  padding: 3rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.custommize h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* .custommize p {
  width: 40%;
} */

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .custommize {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
  }

  .btnContainer {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
