.container {
  background-color: var(--tan);
}

.lottieBox {
  width: 100%;
  height: 450px;
}

.lottie {
  height: 100%;
  width: 100%;
}

.heading {
  width: 50%;
  text-align: center;
}

.topCopy {
  width: 55%;
  text-align: center;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 968px) {
  .heading,
  .topCopy {
    width: 90%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .heading {
    width: 100%;
  }

  .btnContainer {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
