.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.dataBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid var(--tan2);
  border-radius: 12px;
  padding: 3rem 2rem;
  cursor: pointer;
}

.active {
  background-color: var(--tan2);
  border-color: var(--purple);
}

.active .title {
  color: var(--purple);
}
.active .desc {
  color: var(--gray3);
}

.title {
  font-size: 2rem;
  font-family: var(--suisseReg);
  text-transform: none;
}

.desc {
  overflow: hidden;
}

.right {
  background-color: var(--tan);
  border-radius: 10px;
}

.lottieBox {
  width: 100%;
  height: 450px;
}

.lottie {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .title,
  .desc {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .lottieBox {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .lottieBox {
    height: 300px;
  }
}
