.container {
  background-color: var(--tan);
  height: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 3rem;
}

.left {
  gap: 2rem;
  height: 100%;
}

.copy {
  font-family: var(--suisse);
  line-height: 130%;
  width: 80%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  order: -1;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
  background-color: var(--tan2);
  border-radius: 15px;
}

.img {
  object-fit: contain;
}
.rightBottom {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "one one one"
    "two two two"
    "three four five"
    "six six six";
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}

/* Specific cards can be targeted if needed */
.card:nth-child(1) {
  grid-area: one;
}
.card:nth-child(2) {
  grid-area: two;
  background-color: var(--green3);
  border: 1px solid var(--lightBlack);
}
.card:nth-child(3) {
  grid-area: three;
}
.card:nth-child(4) {
  grid-area: four;
  background-color: var(--green3);
  border: 1px solid var(--lightBlack);
}
.card:nth-child(5) {
  grid-area: five;
}
.card:nth-child(6) {
  grid-area: six;
}

.card {
  padding: 2rem;
  background-color: var(--tan2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 2rem;
  height: 100%;
}

.iconContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--lightBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--tan);
}

.icon {
  color: var(--purple);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  /* text-align: center; */
}

.desc {
  opacity: 0.5;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .copy {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .falseBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .right {
    order: -1;
  }
}

@media screen and (max-width: 768px) {
  .left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .rightBottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
