.container {
  background-color: var(--tan);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.heading {
  margin-right: auto;
  font-size: 7rem;
  -webkit-text-stroke: 1.2px var(--white);
  -webkit-text-fill-color: transparent;
}

.problemContainer {
  background-color: var(--purple);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.headingii {
  color: var(--white);
  line-height: 120%;
}

.pattern {
  background-image: radial-gradient(var(--white) 5px, transparent 5px);
  background-size: 20px 20px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.falseBtnContainerii {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7rem;
  padding: 3rem;
  background-color: var(--tan2);
  border-radius: 10px;
}

.indexInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.description {
  opacity: 0.7;
}

.icon {
  color: var(--green);
  opacity: 0.6;
}

.card:nth-child(5) {
  background-color: var(--purple);
}

.card:nth-child(5) .title,
.card:nth-child(5) .description {
  color: var(--white);
}

@media screen and (max-width: 1268px) {
  .bottom {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 868px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .heading {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
  }

  .headingii {
    text-align: center;
    width: 100%;
  }

  .problemContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .pattern {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
