.container {
  background-color: var(--tan);
}

.top {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.heading {
  width: 40%;
  text-transform: uppercase;
}

.span {
  color: var(--purple);
  line-height: inherit;
  font-family: var(--NyghtSerifLightItalic);
  text-transform: lowercase;
  font-size: 5.5rem;
  white-space: nowrap;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.title {
  line-height: 120%;
  color: var(--purple);
  font-size: 2rem;
  font-family: var(--suisse);
  letter-spacing: -0.001em;
  text-transform: none;
}

.icon {
  width: 4rem;
  height: 4rem;
  color: var(--black);
  margin-left: auto;
}

@media screen and (max-width: 1068px) {
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .heading {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .lottie,
  .lottieBox {
    height: 200px;
  }

  .title {
    text-align: center;
  }
}
