.container {
  background-color: var(--tan);
  height: 100%;
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.lottieBox {
  width: 100%;
  height: 350px;
}

.lottie {
  height: 100%;
  width: 100%;
}

.heading {
  margin-bottom: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* width: 60%; */
}

.heading {
  margin-top: 1rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  padding: 5rem;
  padding-bottom: 1rem;
  margin-top: -10rem;
}

.cardContainer1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--lightBlack);
  background-color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review {
  font-weight: 600;
  opacity: 0.7;
}

.personBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.personImage {
  border: 1px solid var(--green);
  border-radius: 50%;
  padding: 0.3rem;
  color: var(--green);
  opacity: 0.7;
}

.reviewer {
  color: var(--green);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  color: var(--green);
  display: block;
  opacity: 0.7;
}

@media screen and (max-width: 1068px) {
  .cardContainer1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading,
  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    padding: 0rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .cardContainer1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom {
    padding: 0rem;
    margin-bottom: 2rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .heading {
    text-align: center;
  }

  .copy {
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
  }
}
