.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  margin-top: 0.2rem;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 20px;
  height: 20px;
  background-color: var(--purple);
}

.tan {
  background-color: var(--tan);
}
