.container {
  background-color: var(--tan);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading {
  font-size: 3rem;
  letter-spacing: -0.01px;
  line-height: 1.1;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -1rem;
}

.btnContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 668px) {
  .heading {
    width: 100%;
  }
}

@media screen and (max-width: 480) {
  .btnContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
