.container {
  background-color: var(--tan);
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}

.heading,
.headingii {
  margin-right: auto;
  font-size: 6rem;
  display: inline-block;
}

.headingii {
  display: none;
  color: var(--purple);
  letter-spacing: -0.5px;
}

.revealText {
  color: var(--tan);
  filter: drop-shadow(0 0 0.08rem var(--purple));
  line-height: 1;
}

.bottom {
  margin-top: 5rem;
}

.lottieBox {
  width: 100%;
  height: 250px;
  margin-bottom: 2rem;
}

.lottie {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading,
  .headingii {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 668px) {
  .heading,
  .headingii {
    font-size: 5rem;
    font-weight: 500;
    text-align: left;
  }

  .headingii {
    display: block;
  }

  .heading {
    display: none;
  }
}
