.container {
  background-color: var(--tan);
}

.top {
  border-bottom: 1px solid var(--lightBlack);
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.heading {
  width: 50%;
  margin-top: 1rem;
}

.bottomMap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  background-color: var(--tan2);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.card:nth-child(1) {
  background-color: transparent;
}

.title {
  font-size: 2.5rem;
  color: var(--purple);
  width: 50%;
  line-height: 110%;
  margin-bottom: 2rem;
}

.addTitle {
  opacity: 0.7;
  font-size: 1.6rem;
}

.problemContainer {
  /* background-color: var(--purple); */
  /* padding: 2rem; */
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  margin-top: 5rem;
}

.headingii {
  /* color: var(--white); */
  line-height: 120%;
}

.pattern {
  background-image: radial-gradient(var(--purple) 5px, transparent 5px);
  background-size: 20px 20px; /* Adjusts spacing between dots */
  width: 100%; /* Adjust width as needed */
  height: 160px; /* Adjust height as needed */
  border-radius: 10px; /* Rounds the corners */
}
